.picture2 {
    margin-top: 50px;
    margin-left: 500px;
}

.helloH {
    margin-left: 60px;
    color: rgba(119, 26, 26, 0.712);
}

.helloP {
    margin-left: -110px;
    font-weight:400 ;
}

.mySkills {
    margin-left: 530px ;
    color: rgb(87, 21, 21);
}

.dnd {
    margin-left: 510px;
    font-weight: 700;
    color: rgb(247, 186, 56);
}

.dndp {
    margin-left: 510px;
}

.eye1 {
    margin-left: 290px;
    margin-top: -180px;
    
}

.eye2 {
    margin-left: 890px;
    margin-top: -70px;
}

.get {
    margin-left: 500px;
}

.love {
    margin-left: 470px;
    color: rgba(107, 19, 19, 0.781);
}

.coke {
    margin-left: 250px;
}

button {
    background-color: rgb(82, 61, 30);
    width: 100px;
    height: 36px;
    border-radius: 5px;
    margin-left: 530px;
    border: none;
}

footer {
    background-color: rgba(77, 41, 41, 0.753);
    height: 50px;
    width: 1250px;
    padding: 40px 0;
}

.footer-container {
    gap: 40px;
    display: flex;
    justify-content: center;
    margin-left: -100px;

}